{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <div id="loginBlock" class="login-panel panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input id="login_btn" class="btn btn-lg btn-success" type="submit" value="{% trans 'Log in' %}" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            <p class="login_text">
            {% trans "Forgot password?" %}
            <a href="{% url 'password_reset' %}">{% trans "Reset it!" %}</a>
            </p>

            <p class="login_text">
            {% trans "Don't have an account?" %}
            <a href="{% url 'register' %}">{% trans "Register!" %}</a>
            </p>

            <a href="{% url 'social:begin' 'facebook' %}" id="fb_btn" class="btn btn-primary">
                <i  class="fa fa-facebook-official fa-fw fa-2x" aria-hidden="true"></i>
                Login with Facebook
            </a>
        </div>
    </div>
</div>
{% endblock %}
