{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="col-md-4 col-md-offset-4">
    <div id="registerBlock" class="register-panel panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title">Register</h3>
        </div>
        <div class="panel-body ">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-lg btn-success"  type="submit" value="{% trans 'Register' %}" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <h6>
                {% trans "Already registered?" %}
                <a href="{% url 'login' %}">{% trans "Login!" %}</a>
            </h6>
        </div>
    </div>
</div>


{% endblock %}
