html {
    overflow-y: scroll;
}

form input
{
    border-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 8px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.field-wrapper
{
    margin-bottom: 10px;
}

form label, form input
{
    position:relative;
    top:50%;
    left:10%;
    display: block;

}


p span
{
    top:50%;
    lef:20%;
    display: block;
    font-size: 10px;
    margin-top: 5px;
}

.panel-title
{
    font-size: 25px;
}

textarea {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 20px;
    position:relative;
    top:50%;
    left:10%;
    width:80%;
    border-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 8px;
}


.map-canvas
{
    width:100%;

}

.panel-heading
{
    background-color: whitesmoke;
}

.panel-body
{
    background-color: ghostwhite;

}

#submit_btn
{
    margin-top:30px;
    position: relative;
    top:50%;
    left:30%;
    width:40%;
}

#login_btn
{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 20px;
    position:relative;
    top:50%;
    left:30%;
    width:40%;
}

#register_btn
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right:10px;
    margin-bottom: 20px;
    position:relative;
    top:50%;
    left:30%;
    width:40%;
}

#fb_btn
{
    position:relative;
    top:50%;
    left:10%;
}

.login_text
{
    position:relative;
    left:10%;

}

