html {
    overflow-y: scroll;
}

form input {
    border-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 8px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.field-wrapper {
    margin-bottom: 10px;
}

form label, form input {
    display: block;
}

p span {
    display: block;
    font-size: 10px;
    margin-top: 5px;
}

.panel-title {
    font-size: 25px;
}

textarea {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 20px;
    width: 80%;
    border-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 8px;
}

.map-canvas
{
    width:100%;
}

.panel-heading {
    background-color: whitesmoke;
}

.panel-body {
    background-color: ghostwhite;
}

#submit_btn {
    margin-top: 30px;
    width: 40%;
}

#login_btn {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 20px;
    width: 40%;
}

#register_btn {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    width: 40%;
}

a {
    color: #0087a9;
}

.locations-item {}

.locations-item__title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.locations-item__description {
    line-height: 1.4;
    height: 2.8em; /* 2 lines * 1.4 line-height */
    overflow: hidden;
    text-overflow: clip;
}

/* https://gist.github.com/alexandrevicenzi/680147013e902a4eaa5d */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
