{% load static %}
{% load easy_maps_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Civic Map{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'partials/header.html' %}

    <div class="container" id="content">
        <h1>{% block page_title %}{% endblock %}</h1>

        {% block content %}{% endblock %}
    </div><!-- /.container -->

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    {% block extrajs %}{% endblock %}
</body>
</html>
