{% load static %}
{% load easy_maps_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Civic Map{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>

<!-- Default map with 300x400 dimensions -->
{% easy_map "Russia, Ekaterinburg, Mira 32" 300 400 %}

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'locations:index' %}">Locations</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
