{% extends "base.html" %}
{% load i18n %}
{% load map_tags %}

{% block content %}
<div class="row-fluid">
    <div class="col-xs-12 col-md-9 col-lg-10">
        <div>
            {% map map_center.latitude map_center.longitude False 600 500 14 %}
        </div>

        <div id="locationInfo" class="panel panel-default panel-collapse collapse" style="overflow: hidden">
            <div class="panel-heading">
                <h2 id="hName"></h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <b>Description: </b>
                        <p id="pDescription"></p>
                    </li>
                    <li>
                        <b>Program: </b>
                        <p id="pProgram"></p>
                    </li>
                    <li>
                        <b>Contact: </b>
                        <p id="pContact"></p>
                    </li>
                </ul>
            <div>
                <img src=location.photo alt="PhotoView" style="width:300px;height:300px"/>
            </div>
                <a id="aReviews" href="">View reviews</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3 col-lg-2">
        {% for location in locations %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ location.get_absolute_url }}">{{ location.name }}</a>
                </div>
                <div class="panel-body">
                    <p>{{ location.description|truncatewords:10 }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if locations.has_previous %}
                    <a href="?page={{ locations.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ locations.number }} of {{ locations.paginator.num_pages }}.
                </span>

                {% if locations.has_next %}
                    <a href="?page={{ locations.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    var getOpacityForCredibility = function(cred) {
        var minCred = 0.0; // MAGIC
        var maxCred = 1.0; // MAGIC
        var minOpac = 0.4; // A KIND OF MAGIC
        var maxOpac = 1.0; // MAGIC NUMEROS

        cred = Math.max(minCred, cred);
        cred = Math.min(maxCred, cred);

        var ratio = (cred - minCred) / (maxCred - minCred);
        var opac = minOpac + (maxOpac - minOpac) * ratio;

        return opac;
    }

    var locations = [];
    {% for location in locations %}
        locations.push({ // TODO: this can surely be done better
            lat: {{ location.latitude }},
            lng: {{ location.longitude }},
            name: '{{ location.name|escapejs }}',
            description: '{{ location.description|truncatewords:60|escapejs }}',
            program: '{{ location.program|escapejs }}',
            contact: '{{ location.contact_info|escapejs }}',
            opacity: getOpacityForCredibility({{ location.credibility }}),
            url: '{{ location.get_absolute_url }}'
        });
    {% endfor %}



    var markersSetOpacity = function(ratio) {
        ratio = ratio || 1;
        for (var i in window.markers) {
            var marker = window.markers[i];
            marker.setOpacity(ratio * marker.defaultOpacity);
        }
    }

    var loadInfoWithLocation = function(location) {
        var hName = document.getElementById('hName');
        var pDescription = document.getElementById('pDescription');
        var pProgram = document.getElementById('pProgram');
        var pContact = document.getElementById('pContact');
        var aReviews = document.getElementById('aReviews');

        hName.innerHTML = location.name;
        pDescription.innerHTML = location.description;
        pProgram.innerHTML = location.program;
        pContact.innerHTML = location.contact;
        aReviews.href = location.url;
    }

    var toggleInfoVisible = function(b) {
        var locationInfo = document.getElementById('locationInfo');
        if (b === true) {
            //locationInfo.style.maxHeight = '300px';
            $('#locationInfo').collapse('show');
        }
        else {
            var aReviews = document.getElementById('aReviews');
            aReviews.href = '';
            //locationInfo.style.maxHeight = '0px';
            $('#locationInfo').collapse('hide');
        }
    }

    // Adds a marker to the map.
    var LABELS = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;
    var addMarker = function(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
            position: {
                lat: location.lat,
                lng: location.lng
            },
            label: LABELS[labelIndex++ % LABELS.length],
            map: map,
            defaultOpacity: location.opacity,
            opacity: location.opacity
        });

        marker.addListener('click', function() {
            loadInfoWithLocation(location);
            toggleInfoVisible(true);

            markersSetOpacity(0.5);
            this.setOpacity(1);
        });

        window.markers.push(marker);
    }

    google.maps.event.addDomListener(window, 'load', function() {
        for (var i in locations) {
            addMarker(locations[i], window.map);
        }

        window.mapElem.style.width = '100%';
        google.maps.event.trigger(map, 'resize');

        window.map.addListener('click', function() {
            toggleInfoVisible(false);
            markersSetOpacity(1);
        });
    });
</script>

{% endblock %}
