{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% for location in locations %}
    <p>
        <a href="{{ location.get_absolute_url }}">{{ location.name }}</a>
        <p>{{ location.description }}</p>
    </p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if locations.has_previous %}
            <a href="?page={{ locations.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ locations.number }} of {{ locations.paginator.num_pages }}.
        </span>

        {% if locations.has_next %}
            <a href="?page={{ locations.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
