{% extends "base.html" %}
{% load i18n %}
{% load map_tags %}

{% block page_title %}
{{ location.name|title }}
{% if user.is_authenticated %}
    <span class="small">(<a href="{% url 'locations:edit' location.id %}">edit</a>)</span>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <p>{% map location.latitude location.longitude True 800 400 %}</p>

    <blockquote>{{ location.description }}</blockquote>

    {% block review_form %}
    <div class="reviews">
        <h3 class="reviews__title">
            Reviews
            <span class="small">
                (<a href="{% url 'locations:review' location.id %}">Add</a>)
            </span>
        </h3>
             <img src="{{location.photo.url}}" alt="PhotoView" style="width:300px;height:300px"/>

        {% if reviews %}
        <ul class="reviews__list">
        {% for review in reviews %}
            <li>
                {{ review.content }} -
                {{ review.get_mark_display }} -
                {{ review.user.username }}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <div class="reviews__empty">
            No reviews yet
        </div>
        {% endif %}
    </div>
    {% endblock %}
</div>
{% endblock %}
